:root {
    --light: white;
    --dark: black;
}
* {
    box-sizing: border-box;
    background-color: var(--light);
    color: var(--dark);
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto minmax(500px, 130vh) auto;
}

/* nav-bar */
#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-bar h1 {
    margin: 8px 0;
    margin-left: 16px;
}
#nav-bar button {
    margin-right: 16px;
}
/* End nav-bar */

/* main */
#main {
    display: flex;
    flex-direction: column;
}
#main .page:not(.active) {
    display: none;
}
/* game-start */
#game-start.active {
    display: grid;
    gap: 8px 16px;
    grid-template-rows: auto auto auto;
}
#game-start.active > p {
    text-align: center;
    font-size: 1.25rem;
    font-style: italic;
}
#game-start.active > form {
    margin: 0 12%;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#game-start.active > form > div {
    padding: 16px;
    border: 1px solid black;
    display: grid;
    gap: 12px 8px;
    grid-template-rows: repeat(5, auto);
}
#game-start.active > form p:first-child {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
#game-start.active > form label {
    font-size: 1.1em;
    letter-spacing: 1px;
}
#game-start.active > form input[type="text"] {
    border: none;
    border-bottom: 1px solid black;
    padding: 8px;
    letter-spacing: 1px;
}
#game-start.active > form input[type="text"]:active,
#game-start.active > form input[type="text"]:focus {
    background-color: #00000010;
    outline: none;
}
#game-start.active .optns {
    display: grid;
    gap: 18px;
    grid-template-columns: auto 1fr;
    justify-content: start;
    align-items: center;
}
#submit-btn {
    padding: 6px 18px;
    justify-self: center;
}
/* End game-start */
/* game-main */
#game-main.active {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}
#round-status {
    font-size: 1.2rem;
}
#game-container {
    background-color: black;
    height: 250px;
    width: 250px;
    display: grid;
    gap: 6px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
#game-main.active span {
    background-color: white;
    text-align: center;
}
/* End game-main */
/* game-over */
#game-over.active {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#game-over.active p {
    text-align: center;
    font-size: 1.25rem;
}
#game-over.active button {
    padding: 8px;
}
/* End game-over */
/* End main */

/* footer */
footer {
    text-align: center;
    background-color: #00000010;
    padding: 20px;
}
/* End footer */