@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --mainbgcolor: white;
    --maincolor: #242424;
    --btnpad: 8px 18px;
}
* {
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
}

body {
    color: var(--maincolor);
    background-color: var(--mainbgcolor);
    margin: 0;
    display: grid;
    grid-template-rows: auto minmax(500px, 130vh) auto;
}

/* nav-bar */
#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-bar h1 {
    margin: 8px 0;
    margin-left: 16px;
}
#nav-bar button {
    margin-right: 16px;
    color: var(--mainbgcolor);
    background-color: var(--maincolor);
    border: 1px solid var(--mainbgcolor);
    padding: 6px;
}
#nav-bar button:active {
    color: var(--maincolor);
    background-color: var(--mainbgcolor);
    border: 1px solid var(--maincolor);
}
/* End nav-bar */

/* main */
#main {
    display: flex;
    flex-direction: column;
}
#main .page:not(.active) {
    display: none;
}
/* game-start */
#game-start.active {
    display: grid;
    gap: 16px;
    grid-template-rows: auto auto auto;
}
#game-start.active > p {
    text-align: center;
    font-size: 1.25rem;
    font-style: italic;
}
#game-start.active > form {
    margin: 0 12%;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#game-start.active > form > div {
    padding: 16px;
    border: 2px solid var(--maincolor);
    display: grid;
    gap: 12px 8px;
    grid-template-rows: repeat(5, auto);
}
#game-start.active > form p:first-child {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
#game-start.active > form label {
    font-size: 1.1em;
    letter-spacing: 1px;
}
#game-start.active > form input[type="text"] {
    border: none;
    background-color: transparent;
    color: var(--maincolor);
    border-bottom: 1px solid var(--maincolor);
    padding: 8px;
    letter-spacing: 2px;
}
#game-start.active > form input[type="text"]:active,
#game-start.active > form input[type="text"]:focus {
    outline: none;
}
#game-start.active .optns {
    display: grid;
    gap: 18px;
    grid-template-columns: auto 1fr;
    justify-content: start;
    align-items: center;
}
#submit-btn,
#game-over.active button {
    padding: var(--btnpad);
    justify-self: center;
    background-color: var(--maincolor);
    color: var(--mainbgcolor);
    border: 2px solid var(--mainbgcolor);
}
#submit-btn:active,
#game-over.active button:active {
    background-color: transparent;
    color: var(--maincolor);
    border: 2px solid var(--maincolor);
}
/* End game-start */
/* game-main */
#game-main.active {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
}
#round-status {
    font-size: 1.2rem;
}
#game-container {
    background-color: var(--maincolor);
    height: 250px;
    width: 250px;
    display: grid;
    gap: 6px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
#game-main.active span {
    background-color: var(--mainbgcolor);
    color: var(--maincolor);
    text-align: center;
    font-size: 56px;
}
/* End game-main */
/* game-over */
#game-over.active {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#game-over.active p {
    text-align: center;
    font-size: 1.25rem;
}
/* End game-over */
/* End main */

/* footer */
footer {
    padding: 20px;
    background-color: transparent;
}
footer,
footer a {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
footer a {
    text-decoration: none;
    color: inherit;
}
footer svg {
    height: 26px;
    fill: var(--maincolor);
}
/* End footer */

@media (prefers-color-scheme: dark) {
    :root {
        --mainbgcolor: #242424;
        --maincolor: white;
    }
}